@use "../utils/" as *;
@use "../globals/variables.scss" as *;

.waiting {
  background: #f6fffa;
  padding-bottom: rem(60);

  @include breakpoint-desktop(medium) {
    padding-bottom: rem(170);
  }
}

.question {
  // width: 90%;
  // margin: 0 auto;
  padding-top: rem(90);
  display: flex;
  flex-direction: column;
  gap: rem(50);

  @include breakpoint-desktop(medium) {
    // width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "question description"
      "form description"
      "...  description"
      "...  description";
  }

  &__title {
    text-align: center;

    @include breakpoint-desktop(medium) {
      text-align: left;
      grid-area: question;
    }

    h2 {
      color: #000;
      @include breakpoint-desktop(medium) {
        width: 90%;
        line-height: 1.3;
        font-size: 3.25rem;
      }
    }
  }

  &__description {
    @include breakpoint-desktop(medium) {
      grid-area: description;
    }
  }

  &__description--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(24) 0 rem(18);
    gap: rem(26);
    border-bottom: 1px solid rgba(228, 232, 230, 0.4);

    h3 {
      margin: 0;
      color: #000;
    }

    @include breakpoint-desktop(medium) {
      padding: rem(28) 0;
      h3 {
        font-size: 1.25rem;
      }
    }
  }

  .question__btn {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    svg {
      font-size: 20px;
      height: 22px;
      width: 22px;
      color: $black;
    }
  }

  .content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.45s ease-in, max-height 0.45s cubic-bezier(0, 1, 0, 1);

    p {
      color: $black;
      margin: rem(15) 0 rem(7);
      line-height: 1.5;
      font-weight: inherit;
      transition: all 0.5s ease-in;
      opacity: 0;

      @include breakpoint-desktop(medium) {
        line-height: 1.7;
        font-size: 1.1rem;
      }
    }

    &.show {
      max-height: 400px;
      height: auto;
      transition: all 0.45s ease-in;

      p {
        opacity: 1;
      }
    }
  }

  &__form {
    h3,
    p {
      text-align: center;

      @include breakpoint-desktop(medium) {
        text-align: left;
      }
    }

    p {
      color: $black;
      @include breakpoint-desktop(medium) {
        width: 50%;
        line-height: 1.4;
        font-size: 0.95rem;
      }
    }

    margin-top: rem(65);

    @include breakpoint-desktop(medium) {
      grid-area: form;
      margin-top: 0;
    }
  }
}

.form {
  .input-cont {
    position: relative;
  }
  &__input,
  &__select {
    border: 1px solid #e4e8e6;
    width: 100%;

    background-color: #fff;
    color: $black;
    height: rem(50);
    padding: rem(12) rem(14);
    font-size: 0.95rem;
  }
  &__input {
    border-radius: 4px 4px 0 0;
    border-bottom: 0;
    &::placeholder {
      color: #93a29b;
    }

    &:focus {
      outline: 0;
    }

    @include breakpoint-desktop(medium) {
      width: 50%;
    }
  }

  &__select {
    border-radius: 0 0 4px 4px;
    @include breakpoint-desktop(medium) {
      width: 55%;
    }
  }

  .custom-select {
    position: relative;
    &.rotate {
      .select-arrow {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }

    @include breakpoint-desktop(medium) {
      display: flex;
      align-items: center;
    }
  }

  span {
    display: block;
    background-color: #fff;
    position: absolute;
    top: 1px;
    right: 1px;
    height: 36%;
    width: 2rem;
    pointer-events: none;

    @include breakpoint-desktop(medium) {
      right: 46%;
      top: 50%;
      transform: translateY(-50%);
      // background: #eee;
      height: 92%;
    }
  }

  .select-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0.95rem;
    color: $black;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform 0.35s ease;
  }

  &__btn {
    width: 100%;
    font-family: inherit;
    font-size: 1.2rem;
    background-color: $edenGreen;
    border: 0;
    border-radius: 4px;
    margin-top: rem(20);
    padding: rem(20);
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: $edenDeep;
    }
  }

  &__btn--mobile {
    @include breakpoint-desktop(medium) {
      display: none;
    }
  }

  &__btn--desktop {
    display: none;

    @include breakpoint-desktop(medium) {
      display: grid;
      place-items: center;
      width: 10%;
      margin-top: 0;
      margin-left: 0.75rem;
      padding: 0.9rem 0;
    }
  }

  .email-error {
    width: 13.375rem;
    border: 1px solid pink;
    border-radius: 0.5rem;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    padding: 11px;
    top: 59px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    p {
      font-size: rem(12);
    }
  }
}

.modal {
  background: #fff;
  width: rem(340);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -38%);

  &.hide-modal {
    display: none;
  }

  .btn {
    border: none;
    cursor: pointer;
  }

  &__cancel {
    position: absolute;
    top: 27px;
    // margin-bottom: 60px;
    right: 23px;
    background: transparent;

    svg {
      font-size: 1.2rem;
      color: $black;
      fill: $black;
      fill-opacity: 0.3;
    }
  }

  &__status {
    position: relative;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(55);
    margin-bottom: rem(30);
    width: 100px;
    height: 100px;
    border: 1px solid #21312a;
    border-radius: 50px;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      background: #fff;
      width: 100%;
      height: 10%;
      top: 15px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 15px solid #fff;
      border-left: 15px solid transparent;
      top: 24px;
      right: 27px;
    }

    .icon-success {
      fill: $edenGreen;
      // fill-opacity: 0.3;
      background: linear-gradient(
        to right,
        transparent 5%,
        transparent 5%,
        $edenGreen 10%,
        $edenGreen 50%,
        $edenDeep 50%,
        $edenDeep 83%,
        transparent 90%,
        transparent 100%
      );
      height: 3rem;
      width: 3rem;
      border-radius: 10px;

      path:nth-child(1) {
        fill: #fff;
      }
      path:nth-child(2) {
        fill: $edenGreen;
      }
    }
  }

  &__btn {
    background: $edenGreen;
    margin: rem(30) 0 0;
    color: #fff;
    padding: 14px 26px;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 5px;
  }
}
