@use "../scss/utils/" as *;

.intercom {
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #03a84e;
  bottom: 25px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  button {
    cursor: pointer;
    background: none;
    border: none;

    svg {
      width: 36px;
      height: 36px;
      fill: #fff;
      color: #fff;

      visibility: visible;
      opacity: 1;
      transition: all 0.5s ease-in;

      &:first-child {
        transform: translateY(20px) scaleY(1) scaleX(-1);

        &.not-visible {
          visibility: hidden;
          opacity: 0;
          transform: translateY(20px) scaleY(0) scaleX(-1);
        }
      }
      &:nth-child(2) {
        transform: rotate(0) translateY(-20px);

        &.not-visible {
          visibility: hidden;
          opacity: 0;
          transform: rotate(360deg);
        }
      }
    }
  }
}

// modal
.intercomModal {
  width: 380px;
  position: fixed;
  top: 3%;
  right: 2%;
  border-radius: 10px;
  z-index: 10000;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.02), 0 8px 6px rgba(0, 0, 0, 0.03),
    0 16px 10px rgba(0, 0, 0, 0.04), 0 26px 18px rgba(0, 0, 0, 0.05);

  @include breakpoint-mobile(small) {
    top: -3px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 99vw;
    margin: 0 auto;
  }

  .cancel-btn {
    display: none;
    @include breakpoint-mobile(small) {
      display: block;
      border: none;
      background: transparent;
      position: absolute;
      top: 3%;
      right: 5%;
      cursor: pointer;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &.chat-room {
    .home-content {
      height: 0;
      visibility: hidden;

      .home-title,
      .text {
        transform: translateX(-100%);
        opacity: 0;
        transition: all 0.45s ease-in;
      }

      .home-box {
        left: -200%;
      }
    }

    .chat-content {
      height: auto;
      visibility: visible;
      transition: all 0.45s ease-in;

      .text,
      .intercomModal__title {
        transform: translateX(0);
        opacity: 1;
        transition: all 0.45s ease-in;
      }
    }
  }

  &.home {
    .home-content {
      height: auto;
      visibility: visible;

      .home-title,
      .text {
        transform: translateX(0);
        opacity: 1;
        transition: all 0.45s ease-in;
      }

      .intercomModal__header {
        padding: 20px 40px 40px;
      }

      img {
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
      }

      .text {
        padding: 0 0 30px;

        h2 {
          font-size: 1.85rem;
        }

        p {
          margin-top: 14px;
          font-size: 17px;
          line-height: 26px;
        }
      }

      .intercomModal__body {
        position: relative;
      }

      .home-box {
        position: absolute;
        left: 50%;
        top: -28%;
        transform: translate(-50%, 0);
        width: 80%;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease-in;

        @include breakpoint-mobile(small) {
          top: -10%;
        }

        h4 {
          margin-bottom: 10px;
        }
        .subtext {
          margin-top: 0;
        }

        button {
          background-color: #03a84e;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          border-radius: 15px;
          padding: 12px 18px;
          color: #fff;
          font-weight: bold;
          cursor: pointer;

          svg {
            fill: #fff;
            margin-right: 10px;
          }
        }
      }

      .converstion {
        height: 200px;
      }
    }

    .chat-content {
      height: 0;
      visibility: hidden;

      .text,
      .intercomModal__title {
        transform: translateX(-100%);
        opacity: 0;
        transition: all 0.45s ease-in;
      }
    }
  }

  &__content {
  }

  &__header {
    background-color: #87ecb4;
    background-image: url("https://js.intercomcdn.com/images/background-12.f1fbb874.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  .icon-cont {
    width: 51px;
    height: 51px;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px;
    position: absolute;
    z-index: 5;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    .arrow {
      width: 30px;
      height: 30px;
    }
  }
  .text {
    padding: 24px 24px 0px 75px;
    h2 {
      font-size: 1.3rem;
      margin: 0;
      font-weight: normal;
      line-height: 24px;
    }

    p {
      margin-top: 5px;
      color: rgba(0, 0, 0, 0.7);
      font-size: 14px;
      line-height: 21px;
    }
  }

  .small {
    display: flex;
    font-weight: bold;

    p {
      margin-left: 4px;
    }
  }

  .subtext {
    display: flex;
    align-items: center;
    margin: 25px 0 35px;

    .left {
      background-color: rgb(1, 60, 28);
      color: #fff;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      font-size: 30px;
      line-height: 56px;
      text-transform: uppercase;
      border: 2px solid rgb(162, 240, 197);
      display: grid;
      place-items: center;
      text-align: center;
    }

    .right {
      display: flex;
      flex-direction: column;
      margin-left: 10px;

      p {
        margin: 0 0 2px;
        font-size: 0.9rem;
      }
    }
  }

  &__body {
    background-color: #fff;

    .conversation {
      height: 170px;
      overflow-y: scroll;

      @include breakpoint-mobile(small) {
        height: 350px;
      }
    }

    .conversation-main {
      height: 400px;
    }

    .link {
      width: 50%;
      margin: 0 auto;

      a {
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 8px 16px;
        border-radius: 16px;
        transition: all 80ms ease 0s;
        color: rgb(119, 118, 120);

        svg {
          width: 24px;
          height: 24px;
          color: #000;

          padding-right: 8px;
        }

        span {
          @include breakpoint-mobile(small) {
            display: block;
          }
        }

        &:hover {
          background-color: rgb(245, 245, 245);
        }
      }
    }

    .chat {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid rgb(230, 230, 230);
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      flex: 0 0 30%;

      svg {
        cursor: pointer;
        font-size: 20px;
        color: rgb(115, 115, 118);
      }
    }

    textarea::placeholder {
      color: rgb(115, 115, 118);
      font-size: 14px;
      font-weight: normal;
      line-height: 1.33;
    }

    textarea {
      flex: 0 0 70%;
      font-family: inherit;
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
      overflow-x: hidden;
      overflow-y: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
      z-index: 1;
      max-height: 100px;
      min-height: 20px;
      padding: 30px 20px 5px;
    }
  }
}
