$edenGreen: #03a84e;
$edenLight: #f6fffa;
$edenLightGreen: rgb(235, 255, 245);
$edenDeep: #008d40;
$edenBlue: rgb(0, 192, 234);
$edenLightBlue: rgb(209 242 250);
$edenPurple: rgb(160, 176, 254);
$edenLightPurple: rgb(229, 233, 252);
$edenOrange: rgb(255, 157, 0);
$edenLightOrange: rgb(255 230 214);
$black: #21312a;
$bgColor: #fff9f5;

@font-face {
  font-family: "Cerebri Sans";
  src: url("../../assets/CerebriSansPro-Regular.ttf");
}

$cerebriFont: "Cerebri Sans";
$martelFont: "Martel Sans";
$ptFont: "PT Serif";
